* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: rgba(12, 12, 12, 0.9);
}

button {
  border-color: rgba(25, 25, 25, 1);
  text-decoration-color: #FFFFFF;
  color: #FFFFFF;
  background-color: rgba(12, 12, 12, .3);
  border-style: solid;
  border-width: 2px;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21%;
  margin: 23px;
  transition: background-color 0.9s ease-in-out, 
                border-color 0.9s ease-in-out, 
                transform 0.9s ease-out;
}

button:focus {
  background-color: rgba(12, 12, 12, .9);
  background-size: 20%;
  outline-style: none;
  border-style: solid;
  border-width: 5px;
  border-radius: 60px;
  background-size: 28%;
  margin: 20px;
  /* transition: background-color 0.4s ease-in; */
}
button:active, button:hover {
  background-color: rgba(32, 32, 32, .9);
  outline-style: none;
/* transform: scale(1.05); */
}

#lock {
  background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
}

#logout {
  background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
}

#suspend {
  background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
}

#hibernate {
  background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
}
